body{
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
}

#Grid-Site{
    display: grid;
    grid-template-areas: "header header header header"
                        "aside aside aside aside"
                        "main main main main"
                        "section section section section"
                        "footer footer footer footer";
    grid-template-columns: 25vw 25vw 20vw 30vw;
    grid-template-rows: 10vh 500px 60vh 15vh;   
}

body::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}