body{
    font-family: Arial;
    margin: 0;
    overflow-x: auto;
}

.corazul{
    background-color: aquamarine;
    height: 100vw;
    width: 10px;
}

.Grid-Site{
    display: grid;
    grid-template-columns: repeat(2, 100vw);
    grid-template-rows: repeat(4,minmax(100px,auto))repeat(4,minmax(100px,auto));
    grid-template-areas: 
    "Amarelo Amarelo"
    "PáginaBanner PáginaBanner"
    "PáginaBanner PáginaBanner"
    "header header"
    "header header"
    "section section"
    "section section"
    "cafê cafê"
    "cafê cafê"
    "footer footer";
}

.Amarelo{
    background-color: yellow;
    grid-area: Amarelo;
}

.PáginaBanner{
    align-items: center;
    background-image: url(banner.png);
    background-size: cover;
    display: flex;
    grid-area: PáginaBanner;
    justify-content: center;
    /* max-width: 700px; */
    width: 100%;
}

.pessoal img{  
    width: 3vw;
    height: 3vw;
}

span{
    color: #2acb6d;
    border-radius: 1px;
    font-size: 1em;  
}

#abc p{
    color: grey;
    text-align: left;
}

#email{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%
}

input{
    border-radius: 5px 0 0 5px;
    border-width: 0;
    font-size: 1em;
    height: 2.5em;
    padding: 0;
}

button{
    background-color: #2acb6d;
    background-color: #2acb6d;
    border: #2acb6d;
    border-radius: 0px 5px 5px 0;
    font-size: 1em;
    height: 2.5em;
    padding:0;
    width: 6em;
}

.Mão img{
    align-items: baseline;
    display: flex;
    height: auto;
}

.classepalavras{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 2em;
    margin: 0 2em 0 6em;
    margin-bottom: 15%;
    /* max-height: 700px; */
}

.Logotipo{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 10em;
}

h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    font-weight: lighter;
}


