body{
    font-family: Arial;
    margin: 0;
    overflow-x: auto;
}

.corazul{
    background-color: aquamarine;
    height: 100vw;
    width: 10px;
}

.Grid-Site{
    display: grid;
    grid-template-columns: repeat(2, 100vw);
    grid-template-rows: repeat(4,minmax(100px,auto))repeat(4,minmax(100px,auto));
    grid-template-areas: 
    "Amarelo Amarelo"
    "PáginaBanner PáginaBanner"
    "PáginaBanner PáginaBanner"
    "header header"
    "header header"
    "section section"
    "section section"
    "cafê cafê"
    "cafê cafê"
    "footer footer";
}